body {
    margin: 0;
    padding: 0;
    display: flex;
    background: rgb(128, 150, 252);
    align-items: center;
    justify-content: center;
}

ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    /* background: chartreuse; */
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

ul li {
    position: relative;
    height: 250px;
    width: 250px;
    background: none;
    /* display: inline-block; */
    font-size: 15vw;
    /* top: 150px;
    left: 150px;
    line-height: 170px; */
    margin: 0 30px;
    color: rgb(128, 150, 252);
    text-shadow: -1px -3px 6px rgb(101, 101, 139), 2px 4px 5px rgb(34, 33, 33);
    text-align: center;
}