body {
    margin: 0;
    padding: 0;
    /* background: rgb(156, 187, 199); */
    display: flex;
    /* background: rgb(138, 138, 229); */
    /* background: rgb(31, 30, 30); */
    background: rgb(128, 150, 252);
}

ul {
    position: relative;
}

ul li {
    position: relative;
}

ul li {
    position: relative;
    height: 250px;
    width: 250px;
    background: none;
    display: inline-block;
    font-size: 250px;
    top: 150px;
    left: 150px;
    line-height: 170px;
    margin: 10px 70px;
    color: rgb(128, 150, 252);
    text-shadow: -1px -3px 6px rgb(64, 64, 66), 2px 4px 5px rgb(34, 33, 33);
}